<nav class="nav">
  <!-- BAH added 2 r x 1 c table here to keep things lined up nicely -->
  <table>
    <tr>
      <td>
  <a href="{{ "/" | relURL }}" class="nav-logo">
    <img src="{{ print "images/" .Site.Params.logo.url | relURL }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>
</td>
</tr>
<tr>
<td>
  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
  </td>
  </tr>
  </table>
</nav>
